*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: burlywood;
}
.nivel1{
    padding-left: 10px;
}
.nivel2{
    padding-left: 20px;
}
.nivel3{
    padding-left: 30px;
}

/* este separar en cuadrado */
.cuadro{
    margin:20px;
    border:1px solid red;
}

h3{
    margin-top: 1px;
    margin-bottom: 1px;
}

