:root{
    --alto_logo:60px;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6ECEA;
}

header{
    /* display: flex; */
    /* position: relative; */
}

.main-logo{

  }
.main-nav{

    
}  
ul{

}
.main-nav__item{

}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 2px;

}




