:root{
    --alto_logo:60px;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6ECEA;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid blue;
}
.main-logo{
    height: var(--alto_logo);
    border:1px solid red;
    display: inline;
  }
.main-nav{
    display: flex;
    justify-content: space-around;

    align-items: center;
    border: 1px solid green;
    height: var(--alto_logo);
}  
ul{
    
    border:1px solid red;
    width: fit-content;    
    /* position: relative; */

}
.OpcDerecha{
    border: 1px solid red;
    position: relative;
    width: fit-content;
}
.main-nav__item{
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

a{text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 2px;
}




