:root{
    --alto_logo:60px;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6ECEA;
}

header{
   display: flex;
    border:1px solid red;
}

.main-logo{
    height: 60px;
}
.main-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}  
ul{
    display: flex;
    border: 1px solid orange;
    flex-direction: row;
}
.main-nav__item{
    list-style: none;
    border: 1px solid green;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 2px;

}




